#cloud-config
users:
 — name: terraform_guest
 sudo: ALL=(ALL) NOPASSWD:ALL
 groups: users, admin
 home: /home/terraform_guest
 shell: /bin/bash
 ssh_authorized_keys:
 — ssh-rsa ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIwVYNw0jWKW+dtk+xvz3J9oQjXQm8D00YvO8SZe5i75 cere23@hagrid_big.gms

 packages:
 — qemu-guest-agent
 — git